<div class="shadow-lg">
  <div class="flex items-center justify-between pl-0 py-4 px-10 sm:py-4">
    <a href="/home"><div class="flex text-center text-blue-400 px-8 font-bold text-2xl"><i class="fa-solid fa-wheat-awn" style="color: #74C0FC;"></i>tWheat</div></a>
    <form method='post' action="/search"  class="flex items-center justify-center rounded">
      <div  class="flex border-2 border-gray-200">
        <input
          type="text"
          class="px-4 w-24 sm:w-80"
          placeholder="Search..."
          name="sQuery"
        />
        <button class="px-4 text-white bg-blue-400 border-l">Search</button>
      </div>
    </form>
  </div>
</div>