
 <div class="w-[300px]">
    <div class="flex items-center justify-center h-16">
      <h1 class="text-xl font-semibold">Welcome</h1>
    </div>
    <nav class="mt-5">
      <ul>
        <li>
          <a
            href="/selfprofile"
            class="flex items-center px-6 py-3 hover:bg-gray-700 hover:text-white"
          >
            Profile
          </a>
        </li>
        <li>
          <a
            href="/chngPswd"
            class="flex items-center px-6 py-3 hover:bg-gray-700 hover:text-white"
          >
            Change Password
          </a>
        </li>
        <li>
          <a
            href="/followers"
            class="flex items-center px-6 py-3 hover:bg-gray-700 hover:text-white"
          >
            Followers
          </a>
        </li>
        <li>
          <a
            href="/following"
            class="flex items-center px-6 py-3 hover:bg-gray-700 hover:text-white"
          >
            Following
          </a>
        </li>
        <li>
          <a
            href="/mytweets"
            class="flex items-center px-6 py-3 hover:bg-gray-700 hover:text-white"
          >
            My tWheats
          </a>
        </li>
        <li>
          <a
            href="/logout"
            class="flex items-center px-6 py-3 hover:bg-gray-700 hover:text-white"
          >
            Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>