<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
    <script src="https://kit.fontawesome.com/d6fdc2471f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <div class="flex w-screen flex-wrap text-slate-800">
      <div
        class="relative hidden h-screen select-none flex-col justify-center bg-blue-400 text-center md:flex md:w-1/3"
      >
        <div class="mx-auto py-16 px-8 text-white xl:w-[30rem]">
            <Span class="rounded-full bg-white px-3 py-1 font-medium text-blue-400"
          >Hello,There</Span
        >
        <p class="my-6 text-3xl font-semibold leading-10">
          Welcome to tWheat
        </p>
        <p class="mb-4">
            From breaking news and entertainment to sports and politics, get the full story with all the live commentary.
        </p>
        <a
          href="#"
          class="font-semibold tracking-wide text-white underline underline-offset-4"
          >Learn More</a
        >
        </div>
      </div>
      <div class="flex w-full flex-col md:w-2/3">
        <div class="flex justify-center pt-12 md:justify-start md:pl-12">
          <a href="#" class="text-2xl font-bold text-blue-400"><i class="fa-solid fa-wheat-awn" style="color: #74C0FC;"></i> tWheat </a>
        </div>
        <div class="my-auto mx-auto flex flex-col justify-center px-6 pt-8 md:justify-start lg:w-[28rem]">
          <p class="text-center text-3xl font-bold md:text-left md:leading-tight">Create your free account</p>
          <p class="mt-6 text-center font-medium md:text-left">
            Already using tWheat?
            <a href="/" class="font-semibold text-blue-400">Login here</a>
          </p>
          <h3 style="text-align: center;"><%=errmsg%></h3>
          <form class="flex flex-col items-stretch pt-3 md:pt-8" method="post" action="/reg_submit">
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text" name="fname" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="First Name" />
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text" name="mname" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Middle Name" />
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text" name="lname" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Last Name" />
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="date"  name="dob" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Date of Birth" />
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text"  name="email" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Email or Mobile Number" />
              </div>
            </div>
            <div class="flex flex-col pt-4">
                <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                  <input type="text"  name="username" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Username" />
                </div>
              </div>
            <div class="mb-4 flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="password" name="pass" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Password" />
              </div>
            </div>
            <div class="mb-4 flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="password" name="cpass" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Confirm Password" />
              </div>
            </div>
            <div class="mb-4 flex flex-col pt-4">
              <div class="relative flex overflow-hidden transition focus-within:border-blue-600 justify-between max-w-[300px]">
                <p class="text-xl">Gender</p>
                <label for="male"><input type = "radio" id="male" name = "gender" value="male"/>Male</label>
                <label for="female"><input type = "radio" id="female" name = "gender" value="female"/>female</label>
                <label for="other"><input type = "radio" id="other" name = "gender" value="other"/>Other</label>
              </div>
            </div>
            <button type="submit" class="mt-6 rounded-lg bg-blue-400 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2 md:w-32">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
